# Ansible Managed
# Database administrative login by Unix domain socket
{% if pgsql_auth_method is defined %}
local   all             postgres                                {{ pgsql_auth_method }}
{% else %}
local   all             postgres                                peer
{% endif %}

# TYPE  DATABASE        USER            ADDRESS                 METHOD

# "local" is for Unix domain socket connections only
{% if pgsql_auth_method is defined %}
local   all             all                                     {{ pgsql_auth_method }}
{% else %}
local   all             all                                     peer
{% endif %}
# IPv4 local connections:
host    all             all             127.0.0.1/32            md5
# IPv6 local connections:
host    all             all             ::1/128                 md5
# Allow replication connections from localhost, by a user with the
# replication privilege.
{% if pgsql_auth_method is defined %}
local   replication     all                                     {{ pgsql_auth_method }}
{% else %}
local   replication     all                                     peer
{% endif %}
host    replication     all             127.0.0.1/32            md5
host    replication     all             ::1/128                 md5
